.product {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding: 20px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  max-height: 400px;
  background-color: white;
  z-index: 1;
}

.product__imageContainer {
  height: 200px;
  flex: 0 0 300px;
  margin-right: 10px;

  display: flex;
  justify-content: center;
}

.product__image {
  max-height: 100%;
  max-width: 100%;
  margin-bottom: 15px;
}

.product__info {
  flex-grow: 1;
  height: 120px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.product__price {
  margin-top: 5px;
}

.product__rating {
  display: flex;
  color: orange;
}

.product > button {
  flex: 0 0 100px;
  height: 50px;
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111111;
}
