.register {
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__logo {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  object-fit: contain;
  width: 130px;
}

.register__container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}

.register__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.register__container > form > h5 {
  margin-bottom: 8px;
}

.register__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
  border-radius: 5px;
  border: 1.5px solid lightgray;
}

.register__container > p {
  margin-top: 15px;
  font-size: 12px;
}

.register__registerBtn {
  background-color: #efbe46;
  border-radius: 4px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: gray;
}
